<h1>******** Now your result ********</h1>

<h2><% result = @result %></h2>

<h2>Your word: <%= @answer %></h2>
<h2>Time Taken to answer: <%= result[:time] %></h2>
<h2>Translation: <%= result[:translation] %></h2>
<h2>Your score: <%= result[:score] %></h2>
<h2>Message: <%= result[:message] %></h2>
